#app {
	height: 100%;
}

body,
html {
	margin: 0;
	height: 100%;
	background: url('https://i.pinimg.com/originals/7f/0d/16/7f0d169e2909a47a703eb4c8b097fcef.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wowhead-tooltip-powered {
	display: none !important;
}

.goldentext {
	color: #ffd700;
}


.raidertabs {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important;
    
    border-color: transparent;
}
.nav-link.active {
    color: rgba(255, 255, 255, 1) !important;
    background-color: #495057 !important;
    border-color: transparent;
}